block header
	section.top-section
		header.site-header
			.container
				.row
					.col-md-2.col-sm-2
						a(href="#").logo
							img(src="img/logo.png", alt="")
					.col-md-10.col-sm-10
						.top-links
							a(href="#").top-links1 Egg Donor Program >
							a(href="#").top-links2 Surrogate Program >
						nav.main-nav
							a(href="#").main-nav__mobile
								span.main-nav__mobile-icon
								span.main-nav__mobile-icon
								span.main-nav__mobile-icon
							ul.main-nav__list
								li.main-nav__list-item
									a(href="#") Home
								li.main-nav__list-item
									a(href="#") For Parents
								li.main-nav__list-item
									a(href="#")  For Surrogates
								li.main-nav__list-item
									a(href="#") Testimonials
								li.main-nav__list-item
									a(href="#") Blog
								li.main-nav__list-item
									a(href="#") Links
								li.main-nav__list-item
									a(href="#").active Our Team
								li.main-nav__list-item
									a(href="#") Contact 
								li.main-nav__list-item
									a(href="#") FC in the News
				.row.top-text
					.col-md-12.col-sm-12.col-xs-12
						h1.top-text__heading Did you know Asian Egg <br> Donors are in High Demand?
						p.top-text__p For over a decade Family Creations has had the honor of helping hundreds of Asian couples fulfill their dream of Family.  For many reasons these couples are unable to use their own eggs and they are on a search for an egg donor who fits their cultural background.  
