extends _layout
block content
	.links-block
		.container
			.row
				.col-md-4
					a(href="#").apply Apply to be an Egg Donor 
						span
				.col-md-4
					a(href="#").general General Information
						span
				.col-md-4
					a(href="#").faq FAQ
						span
	section.about
		.container
			.row
				.col-md-6.col-sm-12
					.video-container
						img(src="img/video-bg.jpg", alt="")
						a(href="https://www.youtube.com/watch?v=0O2aH4XLbto").open-video
							i.play-button
				.col-md-6.col-sm-12
					.text-container
						h2 About Company
						p Family Creations takes pride in our diverse group of egg donors. We are always looking to grow our database with donors of every cultural and ethnic background.  We have managed over a thousand egg donor cycles and have been operating for over a decade.  We take great pride in being one of the leading egg donor agencies around the globe. We offer competitive compensation which typically ranges between $7,000-$20,000 for our Asian egg donors.
	section.rewarding
		.container
			.row
				.col-md-12.col-sm-12
					h2 Egg donation with Family Creations is a rewarding process.
					p Along with the appreciation and gratitude from your recipients, our donors are rewarded with competitive compensation for fulfilling their donor responsibilities.
	section.safety
		.container
			.row
				.col-md-12.col-sm-12
					p Egg donation is a very safe and common procedure, performed every day throughout the United States. At Family Creations you will be working with a professional, friendly and compassionate staff with many years of experience in this field.
	section.apply
		.container
			.row
				.col-md-6.col-sm-12
					.img-side
						img(src="img/apply-img.jpg", alt="")
				.col-md-6.col-sm-12
					p Family Creations seeks prospective donors who are healthy, non-smoking women between the ages of 20 and 29. We accept applications from donors all over the United States. Once you have completed the online application form, you will be contacted with further instructions. Family Creations takes the time to talk with you and educate you about the donation process, so you know exactly what to expect!
					a(href="#") 
						span Apply to be an Egg Donor
	section.last-section
		.container
			.row
				.col-md-12.col-sm-12
					p We will be there to answer all your questions and address all your concerns – every step of the way. We look forward to being a part of your donation experience.



		


block inlineScripts